#topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: lightblue
}

#nameHeader{
    margin-top: 1%;
}

#sections{
    margin-top: .2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
}

.topButton{
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: #606060;
}

.projectHeader{
    font-weight: bold;
    font-size: 26px;
    margin-top: 3%;
}

#mainContent{
    width: 70%;
    margin-left: 15%;
}

#ttimage{
    width: 30%;
}

#bballimage{
    width: 30%;
}

#courseimage{
    width: 30%;
}

#droneimage{
    width: 30%;
}

.description{
    margin-top: .5%;
    font-size: 16px;
}