#topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: lightblue
}

#nameHeader{
    margin: 1.5vh 0%;
}

#sections{
    margin-top: .2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
}

.topButton{
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: #606060;
}

#projectAndButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
}

.infoButton{
    margin-top: .8%;
    margin-left: 5%;
    border-radius: 8px;
    background-color: lightgreen;
    border: none;
    color: #606060;
    width: 90px;
    /* background-color: green; */
}

.projectHeader{
    font-weight: bold;
    font-size: 26px;
    margin-left: -2%;
}

.techHeader{
    font-weight: bold;
    font-size: 17px;
    margin-top: .6%;
}

.dateInfo{
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
}

#mainContent{
    width: 70%;
    margin-left: 17%;
}

.projImage{
    width: 50%;
}

#ttimage{
}

#bballimage{
}

#courseimage{
}

#droneimage{
}

.description{
    margin-top: .5%;
    font-size: 16px;
}

#VrDrone{
    margin-bottom: 5%;
}

#millContent{
    display: none;
}

#ttContent{
    display: none;
}

#courseContent{
    display: none;
}

#bballContent{
    display: none;
}

#droneContent{
    display: none;
}

@media only screen and (max-width: 875px) {
    .projImage{
        width: 60%;
        margin-left: 15%;
    }
    .youtubeLink{
        text-align: center;
        margin-right: 10%;
    }
    #mainContent{
        width: 80%;
        margin-left: 12%;
    }
    #sections{
        width: 45%;
    }
    #nameHeader{
        width: 25%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 650px) {
    .projImage{
        width: 75%;
        margin-left: 12.5%;
    }
    #mainContent{
        width: 90%;
        margin-left: 6%;
    }
    .projectHeader{
        font-size: 26px;
        margin-left: -1%;
    }
    .description{
        font-size: 13px;
    }
    #projectAndButton{
        display: flex;
        flex-direction: column;
    }
    .youtubeLink{
        margin-right: 0%;
    }
    .techHeader{
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    #mainContent{
        /* background-color: pink; */
    }
    .projectHeader{
        font-size: 20px;
        text-align: center;
    }
    .dateInfo{
        font-size: 15px;
    }

    .techHeader{
        font-size: 15px;
    }

    body{
        font-size: 13px;
    }
    #sections{
        width: 65%;
    }
    #nameHeader{
        width: 35%;
        margin-left: 5%;
    }
    .description{
        font-size: 13px;
    }

}
