#bottomPictures{
    height: 90vh;
    width: 57%;
    margin-left: 21.5%;
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
    margin-left: .3%;
    height: 44vh;
}

#row1{
    margin-bottom: 2vh;
}

#bikePic{
    width: 63%;
    margin-right: 1.5%;
    height: 100%;
}

#familyPic{
    width: 32.5%;
    margin-right: 2.5%;
    height: 100%;
}

#mountainPic{
    width: 65%;
    height: 100%;
}

#footballPic{
    width: 35.5%;
    height: 100%;
}