body{
    overflow: hidden;
}

#topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: lightblue
}

#nameHeader{
    margin-top: 1%;
}

#sections{
    margin-top: .2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
}

#homeLink{

}

#projectLink{
}

#photoLink{

}

.topButton{
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    
}

#mainContent{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pictures{
    /* width:  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#picture{
    /* margin-top: 3%; */
    width: 40%;
    height: 56%;
    border-radius: 20px;
}

#aboutMe{
    margin-top: 3%;
}

#nameAndLinks{
    margin-left: 5%;
    width: 33%;
}

#name{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

#links{
    display: flex;
    flex-direction: row;
    /* width: 30%; */
    margin-top: 4%;
    /* margin-left: 35%; */
    justify-content: space-evenly;
}

#skillTitle{
    margin-top: 10%;
    font-size: 18px;
    font-weight: bold;
}

#skills{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.link{
    border: 1px solid black;
    padding: 2px 8px;
    border-radius: 5px;
    background-color: #E0E0E0;
    color: #606060;
}

#about{
    margin-top: 2%;
}

#aboutTitle{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1%;
}

#aboutText{
    font-size: 18px;
    text-indent: 2%;
    margin-bottom: 1.5%;
}

#homeTown{
    font-size: 18px;
    text-indent: 2%;
    margin-bottom: 1.5%;
}

#hobbies{
    font-size: 18px;
    text-indent: 2%;
}

#bottomPictures{
    margin-top: 3%;
    margin-bottom: 3%;
}

#picture2{
    width: 48%;
    height: 36%;
    border-radius: 20px;
}

